:javascript
  var aws_wss = "ws://162.243.120.86:3010";
  window.socket = undefined;

  window.make_circle = function(remote_id) {
    return new paper.Path.Circle({
      radius: 50,
      fillColor: "red",
      position: paper.view.center,
      remote_id: remote_id
    });
  };

  $(function() {
    window.app = new PaperJSApp({
      canvas: $('canvas'),
      name: "MassControl"
    });
    alertify.set('notifier', 'position', 'bottom-left');
    make_circle()
  });


    
/ DO NOT MODIFY CODE UNDER THIS LINE      
:scss
  html, body, #sandbox{
    width: 100%;
    height: 100%;
    overflow:hidden;
  }
  canvas{
    border: 1px solid blue;
    background: lighten(blue, 40%);
  }


#sandbox
  %canvas{resize: "resize"}

